<body style="background-color: black">
<% if @cocktail.photo.attached? %>
    <div class="banner d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %> ');">
<% else %>
    <div class="banner">
<% end %>
    <div class="container">
      <h1><%=@cocktail.name%></h1>
    </div>
  </div>
<div class="Recipe ml-5" style="color:white">
    <h2 class= mt-5>Recipe:</h2>
    
    <%@cocktail.doses.each do |dose| %>
    <div class="d-flex align-items-center">
        <h2><%=dose.description%> <%=dose.ingredient.name%> </h2> <p style="color:transparent">___   </p>   
        <%= link_to "/doses/#{dose.id}", method: :delete, data: { confirm: "Are you sure? "} do %> <i class="fa fa-trash" style="color:white" aria-hidden="true"></i><% end %>
    </div>
    <%end%>
    
</div>
<br>
<br>
<br>

<h1 class="ml-5" style="color:white">Add some ingredients</h1>

<div class="ml-5 mb-5" style="width: 600px">
<%= simple_form_for [ @cocktail, @dose ],
  wrapper: :floating_labels_form,
  wrapper_mappings: {
    select:        :floating_labels_select
  } do |f| %>

  <%= f.error_notification %>

  <%= f.input :description %>

  <%= f.association :ingredient %>

  <%= f.button :submit, class: "btn-success" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
</div>
